<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <header>
    <nav>
      <img class="logo" src="../public/images/Logo/logo.png" alt="Logo">
      <ul id="drawer">
        <li><a href="#">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </nav>
    <a id="hamburger" href="#">☰</a>
  </header>
  <main>
    <article></article>
  </main>
</body>
</html>
