* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,a {
  text-decoration: none;
  list-style-type: none;
}
nav > ul > li{
  display: inline-block;
  padding: 9px 40px;
  margin: 5px;
  background-color: rgb(110, 110, 153);
  border-radius: 10px;
}
header > nav{
  display: flex;
  justify-content:  space-between;
  align-items: center;
  padding: 25px 5%;
}

header{
  background-color: antiquewhite;
}

/* Website screen */
@media screen and (max-width: 1200px) {

}
/* Tablet screen */
@media screen and (max-width: 768px){

}
/* Phone Screen  */
@media screen and (max-width: 576px){
  header{
    display: block;
    background-color: rgb(143, 112, 112);
  }
  #drawer {
    position: absolute;
    height: 200%;
    transform: translate(-576px, 0);
    transition: transform 0.3s ease-in-out;
    background-color: wheat;
  }
  #drawer.open {
    transform: translate(0,0);
  }
 #drawer ul {
  list-style-type: none;
  padding: 0 16px;
}
 
#drawer li {
  padding: 5px 0px;
}

#drawer a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}
 
#hamburger {
  font-size: 32px;
  text-decoration: none;
  color: black;
} 
}